/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Animations */
@-webkit-keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Class elements */
.profile-pic {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.biography-title {
  font-family: 'Apple Chancery', cursive;
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.main-content {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.button-row {
  opacity: 0;
  -webkit-animation: slide-from-bottom 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
          animation: slide-from-bottom 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}


/* Colors and fonts */
p {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #34495e;
}

a {
  color: #c05b4d;
  text-decoration: none;
}

a:visited {
  color: #c05b4d;
}

a:hover {
  color: #c05b4d;
}

a:active {
  color: #c05b4d;
}

a:focus {
  color: #c05b4d;
}
